<!--页脚-->
		<footer id="item5" class="tm-footer item">
			<div class="container-fluid">
				<div class="row">

					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">

						<div class="tm-footer-content-box">
							<h3 class="tm-white-text tm-title tm-footer-content-box-title">网站简介</h3>
							<div class="tm-gray-bg">
								<p>初心不忘</p>
								<p>建站最初的想法是“欢乐屋”——house of joy，将日常所用到的工具的功能集成到一起，这样每天就只用上一个地方就能做所有的事。 后来堕落了，hoj就被搁置。因毕业设计，也因受hoj的影响，才有了现在的“知识共享网站”，无限的互联网节点，知识在流淌， 我们不断的学习，在这无边的海洋中，我只想造一座自己的灯塔，在数不清的夜里偶尔能发出微弱的光。
								</p>
								<p><strong>——感谢、前行</strong></p>
							</div>
						</div>

					</div>

					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
						<div class="tm-white-text tm-footer-content-box tm-footer-links-container">

							<h3 class="tm-title tm-footer-content-box-title">联系方式：</h3>
							<nav>
								<ul>
									<li>
										<h5>移动电话：</h5>
										<p>13266671965</p>
									</li>
									<li>
										<h5>个人邮箱：</h5>
										<p>978260445@qq.com</p>
									</li>
									<li>
										<h5>QQ：</h5>
										<p>978260445</p>
									</li>
									<li>
										<h5>微信：</h5>
										<p>MLY-LS</p>
									</li>
								</ul>
							</nav>

						</div>

					</div>

					<div class="clearfix hidden-lg-up"></div>

					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">

						<div class="tm-footer-content-box">

							<h3 class="tm-white-text tm-title tm-footer-content-box-title">网站公告</h3>
							<p class="tm-margin-b-30">本站共分四大板块：<br />个人简介、知识分享、资源共享、交流圈子</p>
							<hr class="tm-margin-b-30">
							<p class="tm-margin-b-30">网站正在建设...<br />敬请期待</p>
						</div>

					</div>

					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">

						<div class="tm-footer-content-box">

							<h3 class="tm-white-text tm-title tm-footer-content-box-title">服务支持</h3>
							<div class="tm-margin-b-30">
								<img src="{$Think.const.IMG_URL}tm-img-100x100-1.jpg" alt="Image" class="tm-footer-thumbnail">
								<img src="{$Think.const.IMG_URL}tm-img-100x100-2.jpg" alt="Image" class="tm-footer-thumbnail">
								<img src="{$Think.const.IMG_URL}tm-img-100x100-3.jpg" alt="Image" class="tm-footer-thumbnail">
								<img src="{$Think.const.IMG_URL}tm-img-100x100-4.jpg" alt="Image" class="tm-footer-thumbnail">
								<img src="{$Think.const.IMG_URL}tm-img-100x100-5.jpg" alt="Image" class="tm-footer-thumbnail">
								<img src="{$Think.const.IMG_URL}tm-img-100x100-6.jpg" alt="Image" class="tm-footer-thumbnail">
							</div>
							<p class="tm-margin-b-20">本站若有任何侵权行为，请联系我<br /> 同时转载本站原创资源的时
								<br /> 请注明来源
							</p>

						</div>

					</div>

				</div>

				<div class="row groupware-center">
					<div class="col-xs-12 tm-copyright-col ">
						<p class="tm-copyright-text display-inline ">Copyright ©
							<div id="ny" class="display-inline"></div>. 保留所有权利</p>
					</div>
				</div>
			</div>
		</footer>