	
	
	<a href="index.html" class="navbar-brand tm-site-name">Home</a>
	<!-- Nav pills -->
	<nav>
		<ul id="header-nav" class="nav nav-pills nav-justified">
			<li class="nav-item">
				<a class="nav-link tm-black-text" href="__MODULE__/Index/index">Introduce</a>
			</li>
			<li class="nav-item">
				<a class="nav-link tm-black-text" href="__MODULE__/Knowleage/knowleage">Knowleage</a>
			</li>
			<li class="nav-item">
				<a class="nav-link tm-black-text" href="__MODULE__/Share/share">Share</a>
			</li>
			<li class="nav-item">
				<a class="nav-link tm-black-text" href="__MODULE__/Search/search">Search</a>
			</li>
		</ul>
	</nav>
	